.footer {
  background-color: var(--smokey-blue);
  padding: 1rem 0.5rem; /* Reduced padding */
  color: var(--soft-white);
  position: relative;
  border-top: 2px solid var(--silver); /* Added border */
}

.footerContent {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Align text to the left */
  justify-content: space-between;
 
}

.footerColumn {
  display: flex;
  flex-direction: column;
  text-align: left;
  flex: 1;
}


.footerHeader {
  margin-bottom: 0.25rem; /* Reduced margin */
  font-size: 1rem; /* Adjusted font size */
  font-weight: 800;
  left: 0;
  color: var(--silver);
}

.footerAddress,
.footerContact {
   margin-bottom: 0.25rem;
}

.footerLink {
  color: var(--soft-white);
  text-decoration: none;
}

.footerLink:hover {
  text-decoration: underline;
}

.footerLogo {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  bottom: 0.5rem; /* Adjusted position */
  right: 0.5rem; /* Adjusted position */
}

.logo {
  max-width: 75px; /* Adjusted logo size */
  height: auto;
}

@media (max-width: 768px) {
  .footerContent {
    flex-direction: row;
    gap: 1rem; /* Adjusted gap */
  }

  .footerSection {
    margin-bottom: 0;
  }

  .footerLogo {
    position: absolute;
    bottom: 0.5rem;
    right: 0.5rem;
  }
}
