.sectionHeader {
    text-align: left;
    margin-left: 7%;
    margin-bottom: 20px; /* Adjusted bottom margin for spacing */
    font-size: 1.5rem;
    font-family: 'Poppins', sans-serif;
    color: var(--soft-white);
  }
  
  @media screen and (min-width: 768px) {
    .sectionHeader {
      font-size: 2rem; /* Adjust font size for tablets and larger screens */
    }
  }
  
  @media screen and (min-width: 1024px) {
    .sectionHeader {
      font-size: 2.5rem; /* Adjust font size for desktops */
    }
  }
  