.navbar {
    background-color: #333;
    padding: 1rem;
    width: 100%; /* Make navbar span the full width */
  }
  
  .navList {
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;
  }
  
  .navItem {
    margin: 0;
  }
  
  .navLink {
    color: white;
    text-decoration: none;
    font-weight: bold;
  }
  
  .navLink:hover {
    text-decoration: underline;
  }

