.carouselContainer {
  height: 40vh; /* Increased height for a better mobile view */
}

.mySwiper {
  width: 100%;
  height: 100%;
  margin: 1rem 0;
  overflow: hidden;
}

.imageWrapper {
  border: 0.125rem solid var(--silver);
  height: 100%;
  border-radius: 0.625rem;
  overflow: hidden;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.2);
  transition: transform 0.5s ease-in-out, box-shadow 0.5s ease-in-out, border-color 0.5s ease-in-out;
}

.slideImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.5s ease-in-out;
}

.swiper-slide-active .imageWrapper {
  transform: scale(1.4);
  border-color: var(--smokey-blue);
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background: var(--soft-white);
  border-radius: 40px;
}

.loadingPlaceholder {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
  color: #ccc;
  font-size: 1.2rem;
}

@media screen and (min-width: 768px) {
  .carouselContainer {
    height: 50vh; /* Adjust height for tablets */
  }
}

@media screen and (min-width: 1024px) {
  .carouselContainer {
    height: 60vh; /* Adjust height for desktops */
  }

  .swiper-slide {
    padding: 20px; /* Increase padding for desktop */
  }

  .imageWrapper {
    border-radius: 1rem; /* Larger border radius for a more elegant look */
  }

  .slideImage {
    height: 100%; /* Adjust height for better image display */
  }
}
