.servicesSection {
  text-align: center;
  padding: 20px 0; /* Adjusted padding for spacing */
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden; /* Ensure overflow is visible */
}

.cardContainer {
  width: 80%;
  max-width: 300px;
  margin: 20px 0;
  overflow: visible; /* Ensure overflow is visible */
}

.card {
  width: 100%;
  height: 450px; /* Increased height */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  perspective: 1000px;
  cursor: pointer;
  transition: transform 0.6s ease-in-out;
  transform-style: preserve-3d;
  overflow: visible; /* Ensure overflow is visible */
}

.cardFront, .cardBack {
  width: 100%;
  height: 100%;
  backface-visibility: hidden; /* Ensure backface is not visible */
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-radius: 10px;
  border: 4px solid var(--rich-black);
  transition: transform 0.6s ease-in-out;
}

.cardFront {
  background: var(--silver);
  transform: rotateY(0deg); /* Ensure the initial state is defined */
}

.cardBack {
  background: var(--silver);
  transform: rotateY(180deg);
}

.flipped .cardFront {
  transform: rotateY(180deg);
}

.flipped .cardBack {
  transform: rotateY(360deg);
}

.cardImage {
  width: 100%;
  height: 70%;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 10px;
  border: 2px solid var(--rich-black);
}

.cardTitle {
  font-size: 1.5rem;
  margin-top: 10px;
  font-family: 'Playfair Display', serif;
  font-weight: 800;
}

.serviceList {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: left;
  width: 100%;
}

.serviceItem {
  font-size: 1rem;
  padding: 5px 0;
  display: flex;
  justify-content: space-between; /* Align service names to left and prices to right */
  font-family: 'Montserrat', sans-serif;
}

.flipIcon {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 1.5rem;
  color: var(--rich-black);
  cursor: pointer;
}

@keyframes flip {
  0% {
    transform: perspective(1000px) rotateY(0);
  }
  100% {
    transform: perspective(1000px) rotateY(180deg);
  }
}

/* Grid layout for desktop view */
@media screen and (min-width: 1024px) {
  .servicesSection {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px; /* Reduced gap */
    justify-content: center; /* Center the grid */
    justify-items: center; /* Center items within the grid */
    padding: 40px 0; /* Adjusted padding for desktop view */
  }

  .cardContainer {
    max-width: 90%; /* Slightly adjusted width */
    height: 100%; /* Ensure height consistency */
    margin: 20px; /* Adjusted margin for better spacing */
  }

  .card {
    height: 500px; /* Adjusted height for a taller card */
  }
}
